[submodule "pkgs/nixvim"]
	path = pkgs/nixvim
	url = https://github.com/nix-community/nixvim.git
	branch = nixos-26.05
[submodule "pkgs/nixos-hardware"]
	path = pkgs/nixos-hardware
	url = https://github.com/woliver99/nixos-hardware.git
