# Use this template outside the nixos-system repository (ex: /etc/nixos/configuration.nix when the repository exists at /etc/nixos/nixos-system/)

{ pkgs, ... }:

{
  imports = [
    ./hardware-configuration.nix

    # -- Presets --
    ./nixos-system/presets/hardware/msi-gl65-leopard-10sfk.nix # Import your hardware preset here
    ./nixos-system/presets/bootloader/grub-uefi.nix # Import your bootloader preset here
    ./nixos-system/presets/users/woliver99.nix # Import your user preset here
    ./nixos-system/presets/editor/nixvim/wayland.nix # Import your editor preset here (nano is installed by default)
    ./nixos-system/presets/display-manager/gnome.nix # Import your desktop environment here
    ./nixos-system/presets/apps/developer.nix # Import your apps preset here (options: essentials, full, developer)

    # -- Features --
    ./nixos-system/features/grub-firmware-entry.nix # Adds a "Reboot to UEFI" entry
    ./nixos-system/features/grub-dualboot.nix # Adds other operating systems (like Windows) to grub
    ./nixos-system/features/firewall.nix # Enables the system firewall (might break some apps if not configured properly)
    ./nixos-system/features/flatpak.nix # Installs Flatpak for easy sandbox app installs for users
    ./nixos-system/features/printers # Adds support for most printers
    ./nixos-system/features/printers/epson.nix # Adds drivers for epson printers
    ./nixos-system/features/vpn.nix # Adds support for most vpns
    ./nixos-system/features/steam.nix # Installs Steam
    ./nixos-system/features/drawing-tablet.nix # Adds support for most drawing tablets
    ./nixos-system/features/ssh.nix # Installs ssh only accessible via public keys (disables password logins)
    ./nixos-system/features/remote-desktop.nix # Installs Gnome remote desktop which works over rdp (should only be enabled when using Gnome)
    ./nixos-system/features/shell-shortcuts.nix # Usefull shell shortcuts I like to have in my terminal
  ];

  networking.hostName = "oliver-msi-laptop-nixos"; # Device name
  time.timeZone = "America/Toronto"; # Time zone
  i18n.defaultLocale = "en_CA.UTF-8"; # Internationalisation properties
  nixpkgs.config.allowUnfree = true; # Allow proprietary software to be installed (recommended to be enable)

  # Keymap
  services.xserver.xkb = {
    layout = "us";
    variant = "";
  };

  # Add extra apps here
  environment.systemPackages = with pkgs; [
    #youtube-music # Free Youtube Music with adblocker
  ];
  
  # Extra firewall configuration (./features/firewall.nix)
  networking.firewall = {
    allowedTCPPorts = [
      #11434 # Ollama
    ];
  };

  # This value determines the NixOS release from which the default
  # settings for stateful data, like file locations and database versions
  # on your system were taken. It‘s perfectly fine and recommended to leave
  # this value at the release version of the first install of this system.
  # Before changing this value read the documentation for this option
  # (e.g. man configuration.nix or on https://nixos.org/nixos/options.html).
  system.stateVersion = "25.05"; # Did you read the comment?
}
